@(formulario : play.data.Form[models.forms.DetalheForm])
@import views.html.helper._
@import helper.twitterBootstrap._


<ol class="breadcrumb">
    <li><a href="/anuncio">Anuncio</a></li>
    <li class="active"><a href="#">Adicionar Pre-Requisito</a></li>
</ol>




@main("Adicionar Pre-Requisito") {

    @helper.form(action = routes.PreRequisitoController.addHandler() , 'class-> "form-horizontal" , 'role-> "form" ) {
        <input type="hidden" name="mestre_uuid" value='@formulario("mestre_uuid").value'>
        <div class="form-group">
        @helper.inputText(
            formulario("nome"),
            '_class-> "col-sm-12",
            '_label->"Pre-Requisito", 'placeholder->"Digite o Pre-Requisito"
        )
        </div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-10">
                <input type="submit" class="btn btn-primary" value="Salvar">
            </div>
        </div>
    }









}

<script type="application/javascript" src="@routes.Assets.at("js/forms.js")"></script>