@(form : play.data.Form[models.forms.MestreForm])

<ol class="breadcrumb">
    <li><a href="/anuncio">Anuncio</a></li>
    <li class="active"><a href="#">Adicionar</a></li>
</ol>


    @*public String estado;*@
    @*public String cidade;*@
    @*public String nome;*@
    @*public Float faixasalarialInferior;*@
    @*public Float faixasalarialSuperior;*@

@main("Adicionar Anuncio") {

<div class="col-sm-12">
@helper.form(action = routes.AnuncioController.addHandler() ) {
    <div class="col-sm-4 col-sm-offset-4">
        @helper.inputText(
            form("nome"),
            '_label->"Empresa", 'placeholder->"Digite a Empresa"
        )
    </div>
    <div class="col-sm-4 col-sm-offset-4">
    @helper.inputText(
        form("estado"),
        '_label->"UF", 'placeholder->"Digite a Sigla da UF"
    )
    </div>
    <div class="col-sm-4 col-sm-offset-4">
    @helper.inputText(
        form("cidade"),
        '_label->"Cidade", 'placeholder->"Digite a Cidade"
    )
    </div>
    <div class="col-sm-4 col-sm-offset-4">
    @helper.inputText(
        form("faixasalarialInferior"),
        '_label->"Salario Baixo", 'placeholder->"Digite a Faixa Salarial inferior"
    )
    </div>
    <div class="col-sm-4 col-sm-offset-4">
    @helper.inputText(
        form("faixasalarialSuperior"),
        '_label->"Salario Alto", 'placeholder->"Digite a Faixa Salarial inferior"
    )
    </div>


    <div class="col-sm-4 col-sm-offset-4">
        <input type="submit" class="btn btn-default" value="Salvar">
    </div>
    }
</div>








}