@(form : play.data.Form[models.forms.MestreForm])

<ol class="breadcrumb">
    <li><a href="/anuncio">Anuncio</a></li>
    <li class="active"><a href="#">Alterar</a></li>
</ol>


@main("Adicionar anuncio") {

<div class="col-sm-12">
@helper.form(action = routes.AnuncioController.updateHandler() ) {

    <input type="hidden" name="uuid" value='@form("uuid").value'>
    <div class="col-sm-4 col-sm-offset-4">
        @helper.inputText(
            form("nome"),
            '_value->form("nome").value(),
            '_label->"Nome",
            'placeholder->"Digite a Empresa"
        )
    </div>
    <div class="col-sm-4 col-sm-offset-4">
    @helper.inputText(
        form("estado"),
        '_label->"UF", 'placeholder->"Digite a Sigla da UF"
    )
    </div>
    <div class="col-sm-4 col-sm-offset-4">
    @helper.inputText(
        form("cidade"),
        '_label->"Cidade", 'placeholder->"Digite a Cidade"
    )
    </div>
    <div class="col-sm-4 col-sm-offset-4">
    @helper.inputText(
        form("faixasalarialInferior"),
        '_label->"Salario Baixo", 'placeholder->"Digite a Faixa Salarial inferior"
    )
    </div>
    <div class="col-sm-4 col-sm-offset-4">
    @helper.inputText(
        form("faixasalarialSuperior"),
        '_label->"Salario Baixo", 'placeholder->"Digite a Faixa Salarial inferior"
    )
    </div>
    <div class="col-sm-4 col-sm-offset-4">
        <input type="submit" class="btn btn-default" value="Salvar">
    </div>

    }
</div>








}